/**
 * @name Dribbblish
 * @description A discord theme based off of the Dribbblish spicetify theme
 * @author Doggybootsy#1333
 * @version 1.0.0
 * @authorId 515780151791976453
 * @invite nzSs8p7x9q
 */
 @import url("https://doggybootsy.github.io/Dribbblish/src/border.css");