
@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name           Dribbblish
    @namespace      https://github.com/doggybootsy/bubblecord
    @version        1.0.0
    @description    A discord theme based off of the Dribbblish spicetify theme
    @author         Doggybootsy#1333
    ==/UserStyle== */
    @import url("https://doggybootsy.github.io/Dribbblish/src/all.css");
}