/* linux web */
.platform-linux .tutorialContainer-2sGCg9, .platform-web .tutorialContainer-2sGCg9 {
  top: 10px;
}
.platform-linux .root-3R2ngo, .platform-web .root-3R2ngo {
  margin: 10px 10px 10px 72px;
  border-radius: 8px;
  height: calc(100% - 20px);
}
.platform-linux .tutorialContainer-2sGCg9, .platform-web .tutorialContainer-2sGCg9 {
  transform: translate(0, 0);
}
/* home/create */
.tutorialContainer-2sGCg9 {
  position: fixed;
  z-index: 1;
  left: 0;
  -webkit-app-region: none;
  transform: translate(0, -10px);
}
.tutorialContainer-2sGCg9 .listItem-GuPuDH {
  margin: 0;
}
.tutorialContainer-2sGCg9 .item-2hkk8m {
  display: none;
}
.tutorialContainer-30WoTp {
  position: fixed;
  left: 0;
  bottom: 10px;
  z-index: 1;
  -webkit-app-region: none;
}
.tutorialContainer-30WoTp .listItem-GuPuDH {
  margin: 0;
}
.tutorialContainer-30WoTp .item-2hkk8m {
  display: none;
}
/* Border */
.layer-3QrUeG {
  margin: 10px;
  border-radius: 8px;
  margin-left: 72px;
}
/* Windows only */
.platform-win .sidebar-2K8pFh {
  border-radius: 0;
  overflow: hidden;
}
.platform-win .base-3dtUhz {
  border-radius: 0 8px 0 0;
}
.platform-win .guilds-1SWlCJ {
  border-radius: 8px 0 0 0;
}
.platform-win .backdrop-1wrmKB, .platform-win .modal-3c3bKg {
  margin: 23px 10px 10px 72px;
  border-radius: 8px;
}
.platform-win .modal-3c3bKg {
  height: calc(100vh - 33px);
  width: calc(100vw - 82px);
}
.platform-win .root-3R2ngo {
  margin: 23px 10px 10px 72px;
  border-radius: 8px;
  height: calc(100% - 32px);
}
.platform-win .layer-3QrUeG:not(:first-child) {
  margin-top: 0;
}
.platform-win .layer-3QrUeG {
  top: 0;
  padding-top: 0;
  margin-top: 0;
}
.platform-win .standardSidebarView-3F1I7i {
  top: 0;
}
.platform-win .toolbar-1t6TWx .search-36MZv-, .platform-win .toolbar-1t6TWx .inviteToolbar-3F-l2g .iconWrapper-2OrFZ1 {
  top: 57px !important;
}
.platform-win .libraryFilter-31ZUa2 {
  top: 56px !important;
}
/* Osx stuff */
.platform-osx .wrapper-3NnKdC {
  margin-top: 0;
}
.platform-osx .layer-3QrUeG {
  margin-top: 32px !important;
}
.platform-osx .backdrop-1wrmKB, .platform-osx .modal-3c3bKg {
  margin: 32px 10px 10px 72px;
  border-radius: 8px;
}
.platform-osx .modal-3c3bKg {
  height: calc(100vh - 42px);
  width: calc(100vw - 82px);
}
.platform-osx .root-3R2ngo {
  margin: 23px 10px 10px 72px;
  border-radius: 8px;
}
.platform-osx .toolbar-1t6TWx .search-36MZv-, .platform-osx .toolbar-1t6TWx .inviteToolbar-3F-l2g .iconWrapper-2OrFZ1 {
  top: 87px !important;
}
.platform-osx .libraryFilter-31ZUa2 {
  top: 86px !important;
}
/* User buttons */
.panels-j1Uci_ > .container-3baos1 {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 66px;
  border-radius: 0.85rem;
  background-color: var(--background-primary);
  height: 130px;
  padding-top: 10px;
  padding-bottom: 8px;
  width: 32px;
  left: 12px;
  -webkit-app-region: none;
}
.panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp {
  margin: 0;
}
.panels-j1Uci_ > .container-3baos1 .canCopy-2VBT7N {
  display: none;
}
.panels-j1Uci_ > .container-3baos1 .flex-1xMQg5 {
  flex-direction: column;
}
/* Toolbar */
.toolbar-1t6TWx {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 12px;
  bottom: 224px;
  padding: 4px;
  border-radius: 0.85rem;
  background-color: var(--background-primary);
  -webkit-app-region: none;
}
.toolbar-1t6TWx > * {
  margin-top: 4px;
  margin-bottom: 4px;
  /* invite */
}
.toolbar-1t6TWx .inviteToolbar-3F-l2g .divider-3FBTu8 {
  display: none;
}
.toolbar-1t6TWx .inviteToolbar-3F-l2g .iconWrapper-2OrFZ1 {
  position: fixed;
  left: 12px;
  top: 67px;
  margin: 0;
  min-width: 48px;
  height: 48px;
  background-color: var(--background-primary);
  border-radius: 24px;
  transition: background-color 0.15s ease-out, color 0.15s ease-out, border-radius 0.2s ease-out;
}
.toolbar-1t6TWx .inviteToolbar-3F-l2g .iconWrapper-2OrFZ1 .icon-22AiRD {
  margin: 12px;
}
.toolbar-1t6TWx .inviteToolbar-3F-l2g .iconWrapper-2OrFZ1:hover {
  background-color: var(--brand-experiment);
  border-radius: 0.85rem;
  /* Libary */
}
.toolbar-1t6TWx .libraryFilter-31ZUa2 {
  position: fixed;
  left: 12px;
  top: 66px;
  margin: 0;
  width: 48px;
  padding-left: 6px;
  padding-right: 6px;
  height: 48px;
  background-color: var(--background-primary);
  border-radius: 24px;
  transition: background-color 0.15s ease-out, color 0.6s ease-out, border-radius 0.6s ease-out, width 0.6s ease-in-out;
}
.toolbar-1t6TWx .libraryFilter-31ZUa2:hover {
  background-color: var(--brand-experiment);
  border-radius: 0.85rem;
}
.toolbar-1t6TWx .libraryFilter-31ZUa2.focused-2eiV0o {
  background-color: var(--brand-experiment);
  border-radius: 0.85rem;
  width: 240px;
}
.toolbar-1t6TWx .libraryFilter-31ZUa2.focused-2eiV0o .input-3Xdcic {
  display: flex;
}
.toolbar-1t6TWx .libraryFilter-31ZUa2.focused-2eiV0o .icon-1S6UIr {
  height: 16px;
  width: 16px;
  top: 4px;
  transform: translate(1px, -3px);
}
.toolbar-1t6TWx .libraryFilter-31ZUa2.focused-2eiV0o .container-cMG81i {
  background-color: var(--background-tertiary);
}
.toolbar-1t6TWx .libraryFilter-31ZUa2.focused-2eiV0o .input-3Xdcic {
  transform: translate(0, 0);
  opacity: 1;
}
.toolbar-1t6TWx .libraryFilter-31ZUa2 .container-cMG81i {
  background-color: transparent;
  transition: 0.6s ease-out;
}
.toolbar-1t6TWx .libraryFilter-31ZUa2 .input-3Xdcic {
  transform: translate(0, 9px);
  opacity: 0;
}
.toolbar-1t6TWx .libraryFilter-31ZUa2 .icon-1S6UIr {
  color: var(--interactive-normal);
  height: 23px;
  width: 23px;
  transform: translate(2px, -14px);
  transition: 0.6s ease-out;
  /* Search */
}
.toolbar-1t6TWx .search-36MZv- {
  position: fixed;
  left: 12px;
  top: 67px;
}
.toolbar-1t6TWx .search-36MZv- .iconContainer-O4O2CN {
  bottom: 4px;
}
.toolbar-1t6TWx .search-36MZv- .iconContainer-O4O2CN .icon-3cZ1F_ {
  transition: all 0.6s ease;
}
.toolbar-1t6TWx .search-36MZv- .search-2oPWTC {
  width: fit-content;
  top: -5px;
  right: 8px;
  margin: 0;
  min-width: 48px;
  padding-left: 6px;
  padding-right: 6px;
  height: 48px;
  background-color: var(--background-primary);
  border-radius: 24px;
  transition: background-color 0.15s ease-out, color 0.15s ease-out, border-radius 0.2s ease-out;
}
.toolbar-1t6TWx .search-36MZv- .search-2oPWTC .searchBar-3dMhjb {
  padding: 0;
  transform: translate(-2px, 13px);
}
.toolbar-1t6TWx .search-36MZv- .search-2oPWTC.open-6_Y_aH, .toolbar-1t6TWx .search-36MZv- .search-2oPWTC:hover {
  background-color: var(--brand-experiment);
  border-radius: 0.85rem;
}
.toolbar-1t6TWx .search-36MZv- .search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
  width: 28px;
  transition: width 0.6s ease-in-out, background-color 0.6s ease-in-out;
  background-color: transparent;
}
.toolbar-1t6TWx .search-36MZv- .search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb .icon-3cZ1F_ {
  color: var(--interactive-normal);
  height: 23px;
  width: 23px;
  top: 0;
}
.toolbar-1t6TWx .search-36MZv- .search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb {
  width: 240px;
  background-color: var(--background-tertiary);
  transition: all 0.6s ease-in-out;
}
.toolbar-1t6TWx .search-36MZv- .search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb .icon-3cZ1F_ {
  height: 16px;
  width: 16px;
  top: 4px;
}
/* Background */
.layers-3iHuyZ {
  background: var(--background-secondary-alt);
  contain: strict;
}
.typeWindows-1za-n7 {
  background: var(--background-secondary-alt);
}
.wrapper-3NnKdC .scroller-1Bvpku {
  contain: unset !important;
  padding-top: 10px;
}
/* Drag */
.layers-3iHuyZ {
  -webkit-app-region: drag;
}
.layers-3iHuyZ > div {
  -webkit-app-region: none;
}
/* Settings */
.layer-3QrUeG {
  transform: none !important;
  opacity: 1 !important;
}
.layers-3iHuyZ > .layer-3QrUeG.animating-rRxada *, .layers-3iHuyZ > .layer-3QrUeG.animating-rRxada {
  pointer-events: auto !important;
  will-change: unset;
}
.animating-rRxada.stop-animations {
  z-index: 100 !important;
}
/* Seperator */
.tutorialContainer-2sGCg9 + .listItem-GuPuDH {
  display: none;
}
.tutorialContainer-2sGCg9 + [style] + .listItem-GuPuDH {
  display: flex;
}
/* other */
.backdrop-1wrmKB, .modal-3c3bKg {
  margin: 10px 10px 10px 72px;
  border-radius: 8px;
}
.modal-3c3bKg {
  height: calc(100vh - 20px);
  width: calc(100vw - 82px);
}
.layerContainer-yqaFcK {
  visibility: hidden;
}
.layerContainer-yqaFcK > * {
  visibility: visible;
}
/* popouts */
.messagesPopoutWrap-1MQ1bW, .container-enaOkj {
  position: fixed;
  bottom: 10px;
  left: 72px;
  border-radius: 8px;
}
/* Read all */
#bd-pub-li {
  margin-top: 69px;
}
