/* linux web */
.platform-linux,.platform-web{
    .tutorialContainer-2sGCg9{
        top:10px;
    }
}
/* home/create */
.tutorialContainer-2sGCg9{
    position: fixed;
    z-index: 1;
    left: 0;
    -webkit-app-region: none;
    transform: translate(0,-10px);
    .listItem-GuPuDH{
        margin: 0;
    }
    .item-2hkk8m{
        display: none;
    }
}
.tutorialContainer-30WoTp{
    position: fixed;
    left: 0;
    bottom: 10px;
    z-index: 1;
    -webkit-app-region: none;
    .listItem-GuPuDH{
        margin: 0;
    }
    .item-2hkk8m{
        display: none;
    }
}
/* Border */
.layer-3QrUeG{
    margin: 10px;
    border-radius: 8px;
    margin-left: 72px;
}
/* Windows only */
.platform-win{
    .sidebar-2K8pFh {
        border-radius: 0;
        overflow: hidden;
    }
    .base-3dtUhz{
        border-radius: 0 8px 0 0;
    }
    .guilds-1SWlCJ{
        border-radius: 8px 0 0 0;
    }
    .backdrop-1wrmKB{
        margin: 23px 10px 10px 72px;
        border-radius: 8px;
    }
    .layer-3QrUeG:not(:first-child) {
        margin-top: 0;
    }
    .layer-3QrUeG {
        top: 0;
        padding-top: 0;
        margin-top: 0;
    }
    .standardSidebarView-3F1I7i {
        top: 0;
    }
    .toolbar-1t6TWx .search-36MZv-,.toolbar-1t6TWx .inviteToolbar-3F-l2g .iconWrapper-2OrFZ1{
        top:61px !important;
    }
    .libraryFilter-31ZUa2{
        top:60px !important;
    }
}
/* Osx stuff */
.platform-osx{
    .wrapper-3NnKdC {
        margin-top: 0;
    }
    .layer-3QrUeG{
        margin-top: 32px !important;
    }
    .backdrop-1wrmKB{
        margin: 32px 10px 10px 72px;
        border-radius: 8px;
    }
    .toolbar-1t6TWx .search-36MZv-,.toolbar-1t6TWx .inviteToolbar-3F-l2g .iconWrapper-2OrFZ1{
        top:91px !important;
    }
    .libraryFilter-31ZUa2{
        top:90px !important;
    }
}
/* User buttons */
.panels-j1Uci_>.container-3baos1{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 66px;
    border-radius: .85rem;
    background-color: var(--background-primary);
    height: 130px;
    padding-top: 10px;
    padding-bottom: 8px;
    width: 32px;
    left: 12px;
    -webkit-app-region: none;
    .avatarWrapper-2yR4wp{
        margin: 0;
    }
    .canCopy-2VBT7N{
        display: none;
    }
    .flex-1xMQg5{
        flex-direction: column;
    }
}
/* Toolbar */
.toolbar-1t6TWx{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 12px;
    bottom: 224px;
    padding: 4px;
    border-radius: .85rem;
    background-color: var(--background-primary);
    -webkit-app-region: none;
    &>*{
        margin-top: 4px;
        margin-bottom: 4px;
    }
    /* invite */
    .inviteToolbar-3F-l2g{
        .divider-3FBTu8{
            display: none;
        }
        .iconWrapper-2OrFZ1{
            position: fixed;
            left:12px;
            top:71px;
            margin: 0;
            min-width: 48px;
            height: 48px;
            background-color: var(--background-primary);
            border-radius: 24px;
            transition: background-color .15s ease-out,color .15s ease-out,border-radius .2s ease-out;
            .icon-22AiRD{
                margin: 12px;
            }
            &:hover{
                background-color: var(--brand-experiment);
                border-radius: .85rem;
            }
        }
    }
    /* Libary */
    .libraryFilter-31ZUa2{
        position: fixed;
        left:12px;
        top: 70px;
        margin: 0;
        width: 48px;
        padding-left: 6px;
        padding-right: 6px;
        height: 48px;
        background-color: var(--background-primary);
        border-radius: 24px;
        transition: background-color .15s ease-out,color 0.6s ease-out,border-radius 0.6s ease-out,width 0.6s ease-in-out;
        &:hover{
            background-color: var(--brand-experiment);
            border-radius: .85rem;
        }
        &.focused-2eiV0o{
            background-color: var(--brand-experiment);
            border-radius: .85rem;
            width: 240px;
            .input-3Xdcic{
                display: flex;
            }
            .icon-1S6UIr{
                height: 16px;
                width: 16px;
                top:4px;
                transform: translate(1px,-3px);
            }
            .container-cMG81i {
                background-color: var(--background-tertiary);
            }
            .input-3Xdcic{
                transform: translate(0,0);
                opacity: 1;
            }
        }
        .container-cMG81i {
            background-color: transparent;
            transition: .6s ease-out;
        }
        .input-3Xdcic{
            transform: translate(0,9px);
            opacity: 0;
        }
        .icon-1S6UIr{
            color:var(--interactive-normal);
            height: 23px;
            width: 23px;
            transform: translate(2px,-14px);
            transition: .6s ease-out;
        }
    }
    /* Search */
    .search-36MZv- {
        position: fixed;
        left:12px;
        top:71px;
        .iconContainer-O4O2CN{
            bottom: 4px;
            .icon-3cZ1F_{
                transition: all 0.6s ease;
            }
        }
        .search-2oPWTC{
            width: fit-content;
            top:-5px;
            right:8px;
            .searchBar-3dMhjb{
                padding: 0;
                transform: translate(-2px,13px);
            }
            margin: 0;
            min-width: 48px;
            padding-left: 6px;
            padding-right: 6px;
            height: 48px;
            background-color: var(--background-primary);
            border-radius: 24px;
            transition: background-color .15s ease-out,color .15s ease-out,border-radius .2s ease-out;
            &.open-6_Y_aH,&:hover{
                background-color: var(--brand-experiment);
                border-radius: .85rem;
            }
            &:not(.open-6_Y_aH) .searchBar-3dMhjb {
                width: 28px;
                transition: width 0.6s ease-in-out, background-color 0.6s ease-in-out;
                background-color: transparent;
                .icon-3cZ1F_{
                    color:var(--interactive-normal);
                    height: 23px;
                    width: 23px;
                    top:0;
                }
            }
            &.open-6_Y_aH .searchBar-3dMhjb{
                width: 240px;
                background-color: var(--background-tertiary);
                transition: all 0.6s ease-in-out;
                .icon-3cZ1F_{
                    height: 16px;
                    width: 16px;
                    top:4px;
                }
            }
        }
    }
}
/* Background */
.layers-3iHuyZ{
    background: var(--background-secondary-alt);
    contain: strict;
}
.typeWindows-1za-n7{
    background: var(--background-secondary-alt);
}
.wrapper-3NnKdC .scroller-1Bvpku{
    contain: unset !important;
    padding-top:10px;
}
/* Drag */
.layers-3iHuyZ{
    -webkit-app-region: drag;
    &>div{
        -webkit-app-region: none;
    }
}
/* Settings */
.layer-3QrUeG {
    transform: none !important;
    opacity: 1 !important;
}
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}
.animating-rRxada.stop-animations {
    z-index: 100 !important;
}
/* Seperator */
.tutorialContainer-2sGCg9+.listItem-GuPuDH{
    display: none;
}
.tutorialContainer-2sGCg9+[style]+.listItem-GuPuDH{
    display: flex;
}
/* Backdrop */
.backdrop-1wrmKB{
    margin: 10px 10px 10px 72px;
    border-radius: 8px;
}
