:root{
    /* Main app */
    --dribbblish-main: black;
    /* Main app */
    --dribbblish-main-alt: rgb(12, 11, 11);
    /* Sides */
    --dribbblish-secondary: #29b859;
    /* radius */
    --dribbblish-radius: 10px;
    /* radius */
    --dribbblish-margin-top: 10px;
    --dribbblish-margin-right: 10px;
    --dribbblish-margin-bottom: 10px;
    --dribbblish-margin-left: 72px;
    --dribbblish-margins: var(--dribbblish-margin-top) var(--dribbblish-margin-right) var(--dribbblish-margin-bottom) var(--dribbblish-margin-left);
}
html[lang][data-rh]{
    .layers-3iHuyZ{
        background: var(--dribbblish-secondary);
        .members-1998pB, .members-1998pB>div,.chat-3bRxxu, .threadSidebar-1o3BTy,.container-3w7J-x,
        .expandedFolderBackground-1cujaW,.folder-1hbNCn,.scrollableContainer-2NUZem,.panels-j1Uci_{
            background: var(--dribbblish-main);
        }
        .wrapper-1BJsBx:not(.selected-bZ3Lue)>.childWrapper-anI2G9,.circleIconButton-1QV--U:not(.selected-1JjBPm),.folder-1hbNCn.hover-qTxTR_,
        .embedFull-2tM8--,.markup-2BOw-j code,.wrapper-35wsBm{
            background: var(--dribbblish-main-alt);
        }
        .layer-3QrUeG{
            opacity: 1 !important;
            transform: unset !important;
            background: var(--dribbblish-main);
            .guilds-1SWlCJ{
                margin-top: 48px;
                .scroller-1Bvpku{
                    background: var(--dribbblish-main);
                    contain: unset;
                    .tutorialContainer-2sGCg9{
                        position: fixed;
                        left: 0;
                        top: 32px;
                        .childWrapper-anI2G9{
                            background: transparent;
                            &:hover{
                                background: var(--background-modifier-hover);
                            }
                        }
                        .selected-bZ3Lue .childWrapper-anI2G9{
                            background: var(--background-modifier-selected);
                        }
                    }
                }
            }
            .sidebar-2K8pFh{
                margin-top: 48px;
                .panels-j1Uci_>.container-3baos1{
                    flex-direction: column;
                    position: fixed;
                    top: calc(var(--dribbblish-margin-top) + 8px);
                    right: var(--dribbblish-margin-right);
                    .avatarWrapper-2yR4wp {
                        margin-right: 4px;
                        z-index: 1;
                    }
                    .canCopy-2VBT7N{
                        display: none;
                    }
                    .flex-1xMQg5{
                        flex-direction: column;
                        background: var(--dribbblish-main);
                        padding: 4px;
                        display: none;
                        border-radius: 4px;
                    }
                    &:hover .flex-1xMQg5{
                        display: unset;
                    }
                    &:hover .avatarWrapper-2yR4wp {
                        margin-right: 0px;
                        z-index: 1;
                    }
                }
            }
            .container-1r6BKw.themed-ANHk51{
                background: var(--dribbblish-main);
                width: calc( 100vw - var(--dribbblish-margin-right) - var(--dribbblish-margin-left)  - 240px - 120px);
                .children-19S4PO:after{
                    background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--dribbblish-main));
                }
                .toolbar-1t6TWx{
                    flex-direction: column;
                    left: 20px;
                    position: fixed;
                    top: 100px;
                    .divider-3FBTu8{
                        display: none;
                    }
                    &>*:not(.search-36MZv-){
                        margin: 4px 0;
                        height: 30px;
                        width:  30px;
                        padding: 3px;
                        border-radius: 5px;
                        &>div{
                            margin: 0;
                        }
                        &:hover{
                            background: var(--background-modifier-hover);
                        }
                    }
                    .search-36MZv-{
                        position: fixed;
                        top: var(--dribbblish-margin-top);
                        left: var(--dribbblish-margin-left);
                        transform: translate(0,50%);
                        .iconContainer-O4O2CN{
                            bottom: 4px;
                            .icon-3cZ1F_{
                                color: var(--dribbblish-secondary);
                                transition: all 0.6s ease;
                                height: 16px;
                                width: 16px;
                                top:4px;
                            }
                        }
                        .search-2oPWTC{
                            &:not(.open-6_Y_aH) .searchBar-3dMhjb {
                                width: 298px;
                                transition: all 0.6s ease-in-out;
                                background: none;
                            }
                            &.open-6_Y_aH .searchBar-3dMhjb{
                                width: 298px;
                                background: var(--dribbblish-main);
                                transition: width 0.6s ease-in-out;
                            }
                        }
                    }
                }
            }
            border-radius: var(--dribbblish-radius);
            margin: var(--dribbblish-margins);
        }
    }
    *::-webkit-scrollbar-thumb,*::-webkit-scrollbar-track{
        background: none;
    }
}