.tutorialContainer-30WoTp{
    position: fixed;
    left: 0;
    bottom: 10px;
    z-index: 1;
    -webkit-app-region: none;
    .listItem-GuPuDH{
        margin: 0;
    }
    .item-2hkk8m{
        display: none;
    }
}