.tutorialContainer-2sGCg9{
    position: fixed;
    z-index: 1;
    left: 0;
    -webkit-app-region: none;
    @import "./seperator.scss";
    .listItem-GuPuDH{
        margin: 0;
    }
    .item-2hkk8m{
        display: none;
    }
}